.hero{
    min-height: 100vh;

    .nav__logo {
        text-align: center;
        margin-top: 5.5rem;
        margin-bottom: 3rem;
    }

    .hero__main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;

        .hero__main-h1 {
            color: var(--tittle-color);
            opacity: .9;
            font-size: 2rem;
        }

        .hero__main-p {
            color:var(--paragraph-color);
            font-size: 1rem;
            opacity: .7;
        }

        .hero__main-buttons {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            margin-top: 1rem;
        }
    }
}


@media screen and (min-width:550px){
    .hero{
        .hero__main {
            .hero__main-buttons {
                flex-direction: row;
                justify-content: center;
            }
        }
    }
}

@media screen and (min-width:1240px){

    .hero{
        .hero__main {
            margin: 2rem 19rem;

            .hero__main-h1 {
                color: var(--tittle-color);
                opacity: 1;
                font-size: 2.5rem;
            }

            .hero__main-p {
                color:var(--paragraph-color);
                font-size: 1.2rem;
                opacity: .7;
            }
        }
    }
}

