.cont-partnership {
display: flex;
flex-direction: column;
align-items: center;
gap: 4rem;
margin-bottom: 10rem;
    
}

@media screen and (min-width:1240px){ 
    .cont-partnership {
        justify-content: center;
        flex-direction: row;
        margin-bottom: 7rem;
        }
}