.tools {
margin-bottom: 5rem;
    
         .cont-functions__card>figure {
                margin-bottom: 2rem;
        }

}

@media screen and (min-width:1240px){ 

        .tools {
                margin-bottom: 10rem;
                .cont-functions {
                        flex-direction: row;
                        margin: 0 10rem;
                        align-items: center;
                    
                        .cont-functions__card {
                            margin: .5rem;
                            width: 33.33%;
                            min-height: 13rem;
                            
                            h3 {
                                margin-bottom: 1rem;
                            }
                    
                            p {
                                font-size: 1rem;
                                line-height: 1.5rem;
                            }
                        }
                    }
                         .cont-functions__card>figure {
                                margin-bottom: 1.5rem;
                        }
                
                }
                
        
}