:root {

    //Primary
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);

    //Neutral
    --tittle-color:hsl(210, 10%, 33%);
    --paragraph-color: hsl(201, 11%, 66%);
}